#imagen{
    position: absolute;
    height: 500px;
    width: 800px;
    margin-left: 1000px;
    margin-top: -200px;
}

#imagen-serv{
    position: absolute;
    height: 475px;
    width: 800px;
    margin-left: 900px;
    margin-top: -475px;
}


.tarifas-container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(145, 204, 238);
  padding: 20px;
  box-sizing: border-box;
}

.tarifa {
  background: white;
  width: 250px;
  height: 100%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column; /* se organiza en formato columna */
  text-align: center;
}

.tarifa h3 {
  font-size: 150%;
  margin-bottom: 10px;
}

.precio {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 15px;
}

.tarifa ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tarifa ul li {
  margin: 8px 0;
}

.tarifa button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #000;
  color: white;
  font-weight: bold;
}

